:root {
  --color-primary: #93b5c6;
  --color-primary-lite: #c9ccd5;
  --color-secondary: #ffe3e3;
  --color-mix: #e4d8dc;
}

* {
  box-sizing: border-box;
  font-size: 15px;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "ubuntu", sans-serif;
  color: #555;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  border-top: 10px dotted var(--color-secondary);
  width: 20vw;
  max-width: 100px;
  margin: 0 auto;
}

button {
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-primary);
  color: whitesmoke;
  padding: 0.8em 0;
}

.btn-primary:hover {
  background-color: #89aec0;
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: #303030;
  padding: 0.6em 1em;
  letter-spacing: 0.05em;
  font-size: 0.85rem;
}

.btn-secondary:hover {
  background-color: #fad9d9;
  box-shadow: 0 0 5px lightgray;
}

/*********** UTILITY styles  ***********/
.container {
  margin: 5em 10vw;
}

.section-title {
  text-transform: uppercase;
  font-size: 1.45rem;
  text-align: center;
  margin-bottom: 1em;
  color: var(--color-primary);
  text-shadow: 0 0 2px gray;
}

.section-subtitle {
  font-size: 1.1rem;
  margin-bottom: 0.5em;
}

/********************************* HEADER styles  *********************************/
header {
  background-color: #93b5c6;
  position: fixed;
  top: 0;
  width: 100%
}

.header {
  color: whitesmoke;
  color: white;
  padding: 1.5em 0;
  margin: 0 10vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo--img {
  width: 35px;
  margin-right: 5px;
}

.header__logo--txt,
.section-title {
  font-family: "Lora", serif;
}

.header__logo--txt {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  text-shadow: 0 0 2px gray;
}

nav>a,
a:visited,
a:active {
  color: #eee;
  font-size: 0.9rem;
}

nav>a:not(:last-child) {
  margin-right: 2em;
}

nav a:hover {
  color: white;
}

#header__toggle-btn {
  display: none;
}

.header__toggle-chunck {
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
  border-radius: 10px;
}

#header__toggle-btn>.header__toggle-chunck:not(:last-child) {
  margin-bottom: 3px;
}

/********************* HERO styles **********************/
.hero {
  padding: 10em 0;

  display: flex;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
}

.hero img {
  width: 10%;
  min-width: 150px;
}

.hero h2 {
  font-size: 2rem;
  font-family: "Lora", serif;
  line-height: 1.15;
  margin-bottom: 0.2em;
}

.hero button {
  margin-top: 1.5em;
}

/********************* TESTIMONIALS styles **********************/
.testimonials {
  text-align: center;

  display: flex;
  justify-content: space-between;
  gap: 0 1em;
}

.testimony {
  border: 1px solid lightgray;
  margin: 1em 0;
  padding: 1em;
  border-radius: 10px;
}

.testimony:hover {
  box-shadow: 0 0 5px gray;
}

.testimony>img {
  width: 80%;
  max-width: 10rem;
  border-radius: 50%;
  margin-bottom: 1em;
}

.testimony__title {
  margin-bottom: 0.5em;
  font-size: 1.25em;
}

.testimony__description {
  margin-bottom: 1em;
}

.testimony>a {
  color: var(--color-primary);
  text-shadow: 0 0 1px gray;
  text-decoration: underline;
}

/********************* EVENTS styles **********************/
.events {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 2em;
  margin: 1em 0;

  display: flex;
  align-items: center;
  gap: 2em;
}

.event:hover {
  box-shadow: 0 0 5px gray;
}

.event>img {
  width: 90%;
  max-width: 15rem;
  border-radius: 10px;
}

.events>a {
  color: var(--color-primary);
  text-shadow: 0 0 2px gray;
  margin-top: 1.8em;
  font-size: 1.2rem;
  text-decoration: underline;
}

/********************* CONTACT styles **********************/
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.contact img {
  width: 20%;
}

.contact form {
  width: 75%;
  display: flex;
  flex-direction: column;
}

textarea,
.contact form>input:not(:last-child) {
  margin-bottom: 1em;
  font-size: 1rem;
  padding: 0.5em;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}

textarea:focus,
input:focus {
  background-color: var(--color-secondary);
}

/********************* FOOTER styles **********************/
footer {
  background-color: #303030;
}

.footer {
  margin: 0 10vw;
  padding: 3em 0;
}

.footer__ministry {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 2em;
}

.footer__ministry h5 {
  font-size: 1.2rem;
}

.footer__ministry h5:hover {
  color: #a0a0a0;
}

.footer img {
  width: 30px;
  margin-right: 0.5em;
}

.footer__socialmedia {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  align-items: center;
}

.footer__socialmedia a {
  color: gray;
}

.footer__socialmedia a:hover {
  color: lightgray;
}

/****************************************** MEDIA QUERIES *******************************************/
@media (max-width: 670px) {
  #header__nav--lg {
    display: none;
  }

  #header__nav--sm {
    background-color: #88abbd;
    padding: 1.5em 10vw;
  }

  #header__toggle-btn {
    display: block;
    cursor: pointer;
    padding: 0.2em;
    border: 1px solid lightgray;
    border-radius: 5px;
  }

  .hero {
    padding: 5em 0;
    flex-direction: column;
  }

  .testimonials {
    flex-direction: column;
    justify-content: space-between;
    gap: 0 1em;
  }

  .contact {
    flex-direction: column;
  }

  .contact img {
    width: 50%;
  }

  .contact form {
    width: 100%;
  }

  .event {
    flex-direction: column;
    gap: 0.2em;
    padding: 1.5em;
    text-align: center;
  }

  .event>img {
    max-width: 10rem;
    margin-bottom: 1em;
  }

  #middle-event div {
    order: 2;
  }

  .footer__ministry {
    margin-bottom: 1em;
  }

  .footer__socialmedia {
    flex-direction: column;
    gap: 0.5em;
  }
}

/********************* ANIMATIONS **********************/